@import url(cursor.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    background-size: cover;
    background-position: center;
    background-image: url("img/hub_background.jpg");

}
header {
    width: 90vw;
    max-width: 50vw; /*mettre 50 ou 55 pour des style différent*/
    padding-left: 0; /*ajuster padding left et right pour aligner sur le fond*/
    padding-right: 0;
    margin: 0 auto 2vw auto;
    color: black;
}

header h1 {
    word-break: break-word;
    margin-bottom: 0.5em;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
    padding: 2vw;
    max-width: 90vw;
}


.flex-container a {
    flex: 1 1 15vw;
    text-align: center;
    padding: 2vw;
    /* backdrop-filter: blur(5px); */
    backdrop-filter: sepia(100%) brightness(150%) blur(9px);
    background-color: transparent;
    color: black;
    text-decoration: none;
    font-size: 1.2vw;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    min-width: 150px;
    border-radius: 0.25em;
    max-width: 50vw; /*mettre 50 ou 55 pour des style différent*/
    padding-left: 0; /*ajuster padding left et right pour aligner sur le fond*/
    padding-right: 0;
}

.flex-container a:hover {
    color: antiquewhite;
    transform: scale(1.05);
    backdrop-filter: invert(100%) brightness(50%) blur(9px);
}
kbd {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 2px 5px;
  font-family: monospace;
}
kbd:hover {
    background-color: #ccc;
    border: 1px solid #000000;
}
@media (max-width: 600px) {
    .flex-container {
        flex-direction: column;
        align-items: stretch;
        gap: 15px;
    }

    .flex-container a {
        flex: 0 0 auto;
        width: 100%;
        padding: 1rem;
        font-size: 1.2rem;
        justify-content: center;
        align-items: center;
    }
    header {
         max-width: 90vw; /*mettre 50 ou 55 pour des style différent*/
    }
}
